@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');

body {
    margin: 24px;
    background: skyblue;
    font-family: 'Markazi Text';
    font-size: 1.5em;
}

h1,
h2 {
    margin: 0px;
}

.widget {
    background: white;
    padding: 24px 24px;
    border-radius: 12px;
    margin: 8px;
    border: solid 1px #aaa;
}

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.row {
    flex-direction: row;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}