@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

body {
    margin: 24px;
    background: skyblue;
    font-family: 'Faculty Glyphic';
    font-size: 1em;
}

h1, h2 {
    margin: 0px;
}

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.row {
    flex-direction: row;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}