@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');

body {
    margin: 24px;
    background: black;
    font-family: 'Markazi Text';
    font-size: 1.5em;
    color: white;
}


h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

h5 {
    font-weight: normal;
    opacity: 0.5;
}

h1,
h2 {
    margin: 0px;
}

.widget {
    background: #2a2d34;
    padding: 24px 24px;
    border-radius: 12px;
    margin: 8px;
    border: solid 1px #111;
}

.modal {
    background: #2a2d34;
    position: absolute;
    top: 48px;
    width: 50%;
    left: 24%;
}

.modal button {
    width: 100%;
    padding: 12px;
    font-size: 1em;
}


.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.row {
    flex-direction: row;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}